@page
@using Components
@using pokenae_WebApp.Extensions
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}


<div style="margin-left:10px;margin-right:10px;">
    <!--スライドショー 参考https://rilaks.jp/blog/carousel/-->
    @* <div class="pokenaeTopSlide">
        <ul class="slider">
            <li class="pokenaetopimage js-based">
                <a href="/" target="_blank"><img class="pokenaeTopSlide_Imgsize" src="/" alt=""></a>
            </li>

        </ul>
    </div> *@


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 fixed-height" src="https://ozaroom.com//tool/images/ivtool/ivtool_promotion.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 fixed-height" src="https://ozaroom.com//tool/images/ivtool/ivtool_promotion.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 fixed-height" src="https://ozaroom.com///showcase/images/darilbalde/IMG_4487.JPG" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

    <!--NEWS-->
    <div class="news_ticker2">
        <ul>
            <li class="pokenaenews js-based">
                <a class="news_link"></a>
            </li>
        </ul>
        <ul>
            <li class="pokenaenews2 js-based">
                <a class="news_link"></a>
            </li>
        </ul>
        <ul>
            <li class="pokenaenews3 js-based">
                <a class="news_link"></a>
            </li>
        </ul>
    </div>
</div>

<!--メイン-->
<div id="pokenae_contents">
    <div id="pokenae_contentsWrap">
        <div class="pokenae_main_2col">
            <!--PICKUP-->
            <!--===============================================================================-->
            <ul class="pokenae_itemsindex" id="indexPickUpTitle">
                <h3 class="pokenae_subtitleindex">
                    <span>PICKUP</span>
                </h3>
                <li class="pokenae_items_block js-based" id="pokenae_indexPICKUP_items">
                    <a href="/" class="pokenae_items_link">
                        <div class="pokenae_items_img">
                            <img src="/" alt="">
                        </div>
                        <p>
                            <span class="pokenae_items_wrap">
                                <span class="pokenae_items_tag"></span>
                                <span class="pokenae_items_title"></span>
                                <span class="pokenae_items_summary"></span>
                                <span class="pokenae_items_date"></span>
                            </span>
                        </p>
                    </a>
                </li>


            </ul>

            <!--INFO-->
            <!--===============================================================================-->
            <ul class="pokenae_itemsindex">
                <h3 class="pokenae_subtitleindex">
                    <span>INFO</span>
                </h3>

                <div class="pokenae_info_scroll">
                    <li class="info2 js-based" id="pokenae_info2_items"></li>
                    <div class="info3 js-based" id="pokenae_info3_items"><a></a><span></span></div>
                </div>

                <div style="font-size:17px;margin-left:20px;padding-bottom:10px;">
                    <a href="others/infopokenae.html">さらに表示</a>
                </div>

            </ul>

            <!--BLOG-->
            <!--===============================================================================-->
            <ul class="pokenae_itemsindex" id="BLOGTitle">
                <h3 class="pokenae_subtitleindex">
                    <span>BLOG</span>
                </h3>
                <li class="pokenae_items_block js-based" id="pokenae_BLOG_items">
                    <a href="/" class="pokenae_items_link">
                        <div class="pokenae_items_img">
                            <img src="/" alt="">
                        </div>
                        <p>
                            <span class="pokenae_items_wrap">
                                <span class="pokenae_items_tag"></span>
                                <span class="pokenae_items_title"></span>
                                <span class="pokenae_items_summary"></span>
                                <span class="pokenae_items_date"></span>
                            </span>
                        </p>
                    </a>
                </li>

                <div style="font-size:17px;margin-left:20px;padding-bottom:10px;">
                    <a href="blog/blog_index.html">さらに表示</a>
                </div>

            </ul>




            <!--SNS-->
            <!--===============================================================================-->
            <ul class="pokenae_itemsindex">
                <h3 class="pokenae_subtitleindex">
                    <span>SNS</span>
                </h3>
                <pokenaeitem href="https://twitter.com/p_o_ke_nae" image-src="https://pbs.twimg.com/profile_images/1683503038135250944/AehRWEi3_400x400.jpg" image-alt="" tag="" title="Twitter" summary="" date="p_o_ke_nae"></pokenaeitem>
                <pokenaeitem href="https://discord.gg/pE4D4BtDyM" image-src="https://play-lh.googleusercontent.com/McVkTazCaveLwqoDuX_E7ayTgdK4DPbrKCGcPSIZT4b783j6HJvJYu0uxQAuzCw7BCs" image-alt="" tag="" title="Discord" summary="ツールの先行公開やデモ" date="無期限"></pokenaeitem>
                <pokenaeitem href="https://www.youtube.com/@@p_o_ke_nae" image-src="" image-alt="" tag="" title="YouTube" summary="ツールのデモプレイなど" date="p_o_ke_nae"></pokenaeitem>

            </ul>




        </div>
    </div>
</div>

    
<script>
    /*テロップニュースのやつ*/
    var api_url = 'https://script.google.com/macros/s/AKfycby7xNBn0fxV4VFGHcoQFBiaoHr7sEEjw37pcvkwICeZMmF_GIunPw_1CXGvW5oUjrpsIA/exec';
    var RowCount = 1;
    let strlength = 0;
    fetch(api_url)
        .then(function (fetch_data) {
        return fetch_data.json();
        })
        .then(function (json) {
        for (var i in json) {
            var base_element = document.getElementsByClassName('pokenaenews js-based');
            var clone_element = base_element[0].cloneNode(true);
            clone_element.classList.remove('js-based');
            var base_element2 = document.getElementsByClassName('pokenaenews2 js-based');
            var clone_element2 = base_element2[0].cloneNode(true);
            clone_element2.classList.remove('js-based');
            var base_element3 = document.getElementsByClassName('pokenaenews3 js-based');
            var clone_element3 = base_element3[0].cloneNode(true);
            clone_element3.classList.remove('js-based');

            if(json[i].text == "") {
                clone_element.querySelector('a').setAttribute('href',  "/");
                base_element[0].parentNode.appendChild(clone_element);
                clone_element2.querySelector('a').setAttribute('href',  "/");
                base_element2[0].parentNode.appendChild(clone_element2);
                clone_element3.querySelector('a').setAttribute('href',  "/");
                base_element3[0].parentNode.appendChild(clone_element3);
                var base_element_ul = document.getElementsByClassName('news_ticker2');
                var slideuls = base_element_ul[0].querySelectorAll('ul');
                for(let uli in slideuls) {
                    if(slideuls.hasOwnProperty(uli)) {
                        slideuls[uli].style.animation = "hscroll2 " + strlength / 5 + "s linear infinite";
                    }
                }
                break;
            }

            var myLink = json[i].link;
            if(myLink == "") {
                myLink = "/";
            } else {
                clone_element.querySelector('a').setAttribute('href',  myLink);
                clone_element.querySelector('a').setAttribute('target',  "_blank");
                clone_element2.querySelector('a').setAttribute('href',  myLink);
                clone_element2.querySelector('a').setAttribute('target',  "_blank");
                clone_element3.querySelector('a').setAttribute('href',  myLink);
                clone_element3.querySelector('a').setAttribute('target',  "_blank");
            }

            if(json[i].tag == "2") {
                clone_element.querySelector('a').setAttribute('style',  "font-weight: bold;");
                clone_element2.querySelector('a').setAttribute('style',  "font-weight: bold;");
                clone_element3.querySelector('a').setAttribute('style',  "font-weight: bold;");
            } else if(json[i].tag == "0") {
                clone_element.querySelector('a').setAttribute('style',  "color: rgba(0,0,0,0);");
                clone_element2.querySelector('a').setAttribute('style',  "color: rgba(0,0,0,0);");
                clone_element3.querySelector('a').setAttribute('style',  "color: rgba(0,0,0,0);");
            } else if(json[i].tag == "999") {
                clone_element.querySelector('a').setAttribute('style',  "color: red;font-weight: bold;background-color:yellow;");
                clone_element2.querySelector('a').setAttribute('style',  "color: red;font-weight: bold;background-color:yellow;");
                clone_element3.querySelector('a').setAttribute('style',  "color: red;font-weight: bold;background-color:yellow;");
            }

            var newstext = json[i].text;
            strlength = strlength + newstext.length;
            clone_element.querySelector('a').textContent = newstext;
            base_element[0].parentNode.appendChild(clone_element);
            clone_element2.querySelector('a').textContent = newstext;
            base_element2[0].parentNode.appendChild(clone_element2);
            clone_element3.querySelector('a').textContent = newstext;
            base_element3[0].parentNode.appendChild(clone_element3);
            RowCount = RowCount + 1;
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .fixed-height {
        height: 500px; /* 固定の高さを設定 */
        object-fit: cover; /* トリミングして表示 */
    }
</style>

<script>
    //ポケなえのトップページ画像
    var api_url = 'https://script.google.com/macros/s/AKfycbwnmwz1qk2';
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
