@model pokenae_WebApp.Pages.CustomButtonModel

<div id="div_@Model.Name">
    <button id="@Model.Id" name="@Model.Name" class="custom-button custom-button-normal" type="button">@Model.ButtonText</button>
</div>